.env
.DS_store
.vscode/
backend/__pycache__/
backend/database/__pycache__/
backend/routes/__pycache__/
backend/utils/__pycache__/
backend/instance
backend/tests
backend/known_issues.md
backend/venv
backend/logs/
backend/uploads/
node_modules
package-lock.json
package.json    
